<ion-view>
	<ion-tabs class="tabs-icon-top tabs-positive">
		<ion-tab title="Plan" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="main.plan">
			<ion-nav-view name="main-plan"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Recipe list" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="main.recipelist">
			<ion-nav-view name="main-recipelist"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Fridge" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="main.fridge">
			<ion-nav-view name="main-fridge"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>
